.clock {
  color: #fff;
  padding: 10px 10px 0 0;
  float: right;
  white-space: nowrap;
}

.topadv {
  height: 90px;
  width: 728px;
  margin: 2px;
}

.inline {
  vertical-align: top;
}

.tablecell {
  padding: 2px 24px 2px 16px;
  margin: 0px;
}

.top {
  display: block;
  padding-left: 20px;
}
.top a {
  text-decoration: none;
  font-size: 48px;
  color: rgb(50, 60, 70);
  font-weight: bold;
}
.top-menu {
  border: 2px dotted #000;
}
.adv-top {
  display: inline;
  margin: 20px;

  border: 2px solid #000;
}

ul.bottom-nav {
  background: rgb(50, 60, 70);
  margin: 0px;
  padding: 0px;
}
ul.bottom-nav li {
  display: inline;
}
ul.bottom-nav a {
  display: inline-block;
  border: 1px solid #000;
  padding: 2px 10px;
  background: rgb(50, 60, 70);
  text-decoration: none;
  color: #fff;
}
ul.bottom-nav a[class='bottom-menu-button']:hover {
  background: #5b7b95;
}

ul.nav {
  background: rgb(50, 60, 70);
  margin: 0px;
  padding: 0px;
}
ul.nav li {
  display: inline;
}

ul.nav a {
  display: inline-block;
  border: 1px solid #000;
  padding: 10px 10px;
  background: rgb(50, 60, 70);
  text-decoration: none;
  color: #fff;
}

ul.nav a:not(.nonActive):hover {
  background: #5b7b95;
}

ul.nav a.active {
  background: #5b7b95;
}

ul.nav a.nonActive {
  background: rgb(50, 60, 70);
}

.main {
  margin: 10px;

  color: #fff;
}
footer {
  background: rgb(50, 60, 70);
  color: #fff;
}
footer a {
  padding: 10px;
}

.ask tbody > tr > td:nth-child(3),
.bid tbody > tr > td:nth-child(3),
.ask thead > tr > th:nth-child(3),
.bid thead > tr > th:nth-child(3) {
  display: none;
  /*   visibility: hidden; */
  background: red;
}


.introjs-tooltip {
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
  position:absolute;
  visibility:visible;
  background-color:#fff;
  min-width:470px !important;
  max-width: 500px;
  border-radius:5px;
  -webkit-box-shadow:0 3px 30px rgba(33,33,33,.3);
  box-shadow:0 3px 30px rgba(33,33,33,.3);
  -webkit-transition:opacity .1s ease-out;
  -o-transition:opacity .1s ease-out;
  transition:opacity .1s ease-out
}

